RiskEndpoint/bin/
RiskEndpoint/obj/
Riskified.SDK/bin/
Riskified.SDK/obj/
Riskified.SDK/packages/
RiskEndpoint/.vs/
RiskEndpoint/packages/
RiskEndpoint/RiskEndpoint/bin/
RiskEndpoint/RiskEndpoint/obj/
RiskEndpoint/Riskified.SDK/bin/
RiskEndpoint/Riskified.SDK/obj/
RiskEndpoint/Riskified.SDK/packages/
